* {
    padding: 0%;
    margin: 0%;
}

body {
    font-family: monospace, sans-serif;
    background-color: gray;
    margin: 0;
    padding: 0;
}
.hero {
    color: white;
    font-family: monospace, sans-serif;
    text-align: center;
    padding: 50px 20px;
}
.hero-image {
    width: 100%;
    height: 400px;
    background: url("assets/ilocos.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.hero-text {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(216, 208, 92);
    text-transform: uppercase;
}
header {
    color: white;
    padding: 10px 0;
    text-align: center;
}
.navbar {
    position: sticky;
    top: 0%;
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
}
.navbar a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}
.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.navbar li {
    display: inline-block;
    margin: 0 10px;
}
.navbar a:hover {
    background-color: #ffffff;
    color: black;
}
main {
    display: flex;
    gap: 2rem;
    padding: 20px;
}
section {
    flex: 1;
}
.contact-form {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
.contact-info h2 {
    margin-bottom: 10px;
}
.contact-info p {
    margin: 5px 0;
}
.contact-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
.contact-form button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.contact-form button:hover {
    background-color: #000000;
}
.portrait-photo img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 100px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
}